<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>OnLineOrderingSystem111</display-name>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.wangyanci.utils.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>RegistUserServlet</servlet-name>
    <servlet-class>com.wangyanci.servlet.RegistUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistUserServlet</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUserServlet</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>com.wangyanci.servlet.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveUserServlet</display-name>
    <servlet-name>ActiveUserServlet</servlet-name>
    <servlet-class>com.wangyanci.servlet.ActiveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveUserServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
</web-app>