<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>OnLineOrderingSystem111</display-name>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.wangyanci.utils.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>RegistUserServlet</servlet-name>
    <servlet-class>com.wangyanci.servlet.RegistUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistUserServlet</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUserServlet</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>com.wangyanci.servlet.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveUserServlet</display-name>
    <servlet-name>ActiveUserServlet</servlet-name>
    <servlet-class>com.wangyanci.servlet.ActiveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveUserServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllProduct</display-name>
    <servlet-name>FindAllProduct</servlet-name>
    <servlet-class>com.wangyanci.servlet.FindAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllProduct</servlet-name>
    <url-pattern>/findAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllDish</display-name>
    <servlet-name>FindAllDish</servlet-name>
    <servlet-class>com.wangyanci.servlet.FindAllDish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllDish</servlet-name>
    <url-pattern>/findAllDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindDishById</display-name>
    <servlet-name>FindDishById</servlet-name>
    <servlet-class>com.wangyanci.servlet.FindDishById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindDishById</servlet-name>
    <url-pattern>/findDishById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDish</display-name>
    <servlet-name>AddDish</servlet-name>
    <servlet-class>com.wangyanci.servlet.AddDish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDish</servlet-name>
    <url-pattern>/addDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageDishList</display-name>
    <servlet-name>PageDishList</servlet-name>
    <servlet-class>com.wangyanci.servlet.PageDishList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageDishList</servlet-name>
    <url-pattern>/pageDishList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDish</display-name>
    <servlet-name>EditDish</servlet-name>
    <servlet-class>com.wangyanci.servlet.EditDish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDish</servlet-name>
    <url-pattern>/editDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDishById</display-name>
    <servlet-name>DeleteDishById</servlet-name>
    <servlet-class>com.wangyanci.servlet.DeleteDishById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDishById</servlet-name>
    <url-pattern>/deleteDishById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDishState</display-name>
    <servlet-name>UpdateDishState</servlet-name>
    <servlet-class>com.wangyanci.servlet.UpdateDishState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDishState</servlet-name>
    <url-pattern>/updateDishState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDishToCart</display-name>
    <servlet-name>AddDishToCart</servlet-name>
    <servlet-class>com.wangyanci.servlet.AddDishToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDishToCart</servlet-name>
    <url-pattern>/addDishToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCart</display-name>
    <servlet-name>ShowCart</servlet-name>
    <servlet-class>com.wangyanci.servlet.ShowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCart</servlet-name>
    <url-pattern>/showCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDishFromCart</display-name>
    <servlet-name>DeleteDishFromCart</servlet-name>
    <servlet-class>com.wangyanci.servlet.DeleteDishFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDishFromCart</servlet-name>
    <url-pattern>/deleteDishFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAllFromCart</display-name>
    <servlet-name>DeleteAllFromCart</servlet-name>
    <servlet-class>com.wangyanci.servlet.DeleteAllFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAllFromCart</servlet-name>
    <url-pattern>/deleteAllFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeDishNumToCart</display-name>
    <servlet-name>ChangeDishNumToCart</servlet-name>
    <servlet-class>com.wangyanci.servlet.ChangeDishNumToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDishNumToCart</servlet-name>
    <url-pattern>/changeDishNumToCart</url-pattern>
  </servlet-mapping>
</web-app>